$nav-width: 20rem;

.navbar {
    width: $nav-width;
}

.nav {
    align-content: center;
    background: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: -$nav-width;
    list-style: none;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-start: 0;
    margin: 0;
    padding-inline-start: 0;
    position: fixed;
    transition: left 0.5s ease;
    width: $nav-width;

    &.expanded {
        left: 0;
    }
}

.nav__item, .nav__item--selected {
    font-family: 'Lato', sans-serif;
    padding: 1.5rem;
    width: $nav-width;
    a {
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
    }
}

.nav__item--selected {
    background: white;
    a {
        color: black;
    }
}

$hamburger__bar-height: 0.5rem;
$hamburger__bar-width: 3.6rem;
$hamburger__bar-color: black;

.hamburger {
    cursor: pointer;
    position: fixed;
    left: 1rem;
    top: 1rem;
    height: 5 * $hamburger__bar-height;
    width: $hamburger__bar-width;
    z-index: 2;
    
    &__bar::before, &__bar, &__bar::after {
        transition: all 0.5s ease;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: $hamburger__bar-height;
        width: $hamburger__bar-width;
        background: $hamburger__bar-color; 
    }

    &__bar::before {
        content: "";
        margin-top: -2 * $hamburger__bar-height;
    }

    &.expanded .hamburger__bar::before {
        background: white;
        margin-top: 0;
        transform: rotate(-45deg);
    }

    &__bar {
        margin-top: 0;
    }

    &.expanded .hamburger__bar {
        background: transparent;
    }

    &__bar::after {
        content: "";
        margin-top: 2 * $hamburger__bar-height;
    }

    &.expanded .hamburger__bar::after {
        background: white;
        margin-top: 0;
        transform: rotate(45deg);
    }
}